.add_employee_form_container {
  width: 48%;
  box-shadow: 0 0 10px #ddd;
  padding: 24px;
  margin: 0 auto;
  border-radius: 8px;

  .ant-upload-list-item-error,
  .ant-upload-list-item-error .anticon-paper-clip,
  .ant-upload-list-item-error .ant-upload-list-item-name {
    color: green;
  }
  .ant-upload-list-item-error .ant-upload-list-item-card-actions .anticon {
    color: green;
  }
}
